---
# tasks/install.yml - Base package installation tasks (provider-agnostic)

- name: Install required packages
  apt:
    name:
      - wget
      - gpg
      - apt-transport-https
      - expect
    state: present
  become: yes
